# Environment files
.env
.env.*
!.env.example
!.env*.example
node_modules/

# Frontend env files
frontend/.env.local
frontend/.env.*
frontend/.env
# Backend env files
backend/.env
backend/.env.*
backend/node_modules/